{% extends 'base/Layout2.html' %}
{% block title %}Admin - Login{% endblock %}
{% block body %}
    <section class="main-body">
        <div class="blackbg"></div>
        <section class="login_screen">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-9 col-md-5 col-lg-4 shadow-lg">
                        <h1>Login</h1>
                        <p>Sign in to your account</p>
                        <form action="{% url 'Index' %}"  method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" placeholder="Username" name="uname" id="uname"
                                       required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                <input type="password" class="form-control" placeholder="Password" name="upassword"
                                       required>
                            </div>
                            <div class="sign-up-portion">
                                <p>Are You New Here ? <a href="{% url 'Register' %}">Register Here</a></p>
                            </div>
                            <div class="submit_btn">
                                <button class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

{% endblock %}