{% extends 'base/Layout.html' %}

{% block title %}{% endblock %}

{% block body %}
    <section class="profile-body">
        <div class="container">
            <!--Personal Details-->
            <section class="personal-details">
                <div class="personal-details-msg"></div>
                <div class="row">
                    <div class="col-md">
                        <h4>Personal information</h4>
                        <p>Update's your account profile information & email address</p>
                    </div>
                    <div class="col-md shadow-sm">

                        <label class="form-text" for="user-name">Name</label>
                        <input type="text" class="form-control text-uppercase" name="user_name" disabled
                               value="{{ name }}"
                               id="user-name"/>
                        <label class="form-text" for="user-email">Email</label>
                        <input type="email" class="form-control" name="user_email" disabled value="{{ email }}"
                               id="user-email"/>
                    </div>
                </div>
            </section>


            <!--Update Password-->
            <section class="update-pass">
                <div id="update-alert"></div>
                <div class="row">
                    <div class="col-md">
                        <h4>Update Password</h4>
                        <p>Update's your account is a long random password to stay secure.</p>
                    </div>
                    <div class="col-md shadow-sm">
                        <form action="{% url 'UpdatePassword' %}" method="post" class="form-group" id="pass-form">
                            {% csrf_token %}
                            <label class="form-text" for="new-pass">New Password</label>
                            <input type="password" class="form-control" id="new-pass"/>
                            <label class="form-text" for="conf-pass">Confirm Password</label>
                            <input type="password" class="form-control" id="conf-pass"/>
                            <button id="pass_update" class="btn btn-success">Update</button>
                        </form>
                    </div>
                </div>
            </section>
            <hr>
            {% if request.user.is_superuser %}
                <!--Dashboard-->
                <section class="delete-acc">
                    <div class="row">
                        <div class="col-md">
                            <h4>Dashboard</h4>
                            <p>You're An Admin.</p>
                        </div>
                        <div class="col-md shadow-sm">
                            <form action="{% url 'Profile' %}" method="post" class="form-group">
                                <p>Access The Dashboard & Do All The Major Operations For The Site. You Can Control
                                    Everything There.</p>
                                <div class="del-btn-acc text-end">
                                    <a href="{% url 'Dashboard' %}" class="btn btn-outline-primary">Dashboard</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            {% endif %}

        </div>
        </div>
    </section>


{% endblock %}